*{
    margin: 0;
    padding: 0;
    
}

body{
    background: rgb(41, 41, 41);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#conteudo{
    width: 500px;
    height: 500px;
    background-color: white;
    margin: 150px 10px 10px 600px ;
    border-radius: 20px;
   

}

#login{
   margin: 25%;
}

input {
    margin-top: 5px;
    font-size: 1.5em;
    
    
}

button{
    margin-top: 10px;
}

h1{
    text-align: center;
}
